document {
  position: relative;
}
.card-header {
  text-align: center;
  font-size: x-large;
}
.radio {
  text-align: center;
  margin: 15px;
}
.card {
  width: 40%;
  position: center;
}
.progress {
  width: 40%;
}
h1 {
  color: blue;
}
